.info > .card > .card-body {
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
}

.info > .card > .card-body > .row {
    padding: 0.3rem 0rem;
}

#edit-icon-1, #edit-icon-2, #edit-icon-3, #save-icon-1, #save-icon-2, #save-icon-3 {
    float: right;
}

#save-icon-1, #save-icon-2, #save-icon-3 {
    padding-right: 0.7rem;
}

.form-control-plaintext {
    width: 100%;
}

.edit-forms > .row {
    margin-bottom: 0;
}

@media (min-width: 576px) {
    .edit-forms > .row:first-child {
        padding-bottom: 10px;
    }
}

#date {
    width: 10%;
}

#act-buttons {
    width: 10%;
}

.btn {
    font-size: 0.75rem;
}

#general-info > .general-info-row {
    padding-bottom: 10px;

}

#general-info > .form-group {
    margin-bottom: 0;
}

#archive {
    border-radius: 30px 30px;
}

#archive-color {
    float: left;
    margin: 4px;
}

/* remove margin on the bottom of the header (located in base.html) */
.header-row {
    margin-bottom: 0px !important;
}

#project-type-row {
    padding-top: 5px;
}