<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12 info ">
        <div class="card mb-sm-4 card-border">
            <div class="card-header"><b>Documents</b> 
                {% if user.is_authenticated %}
                <div class="float-right">
                    <span class="icons fa fa-plus"></span>
                </div>
                {% endif %}
            </div>
            <div class="collapse show" id="doc-table">
            <table class="table">
                <thead class="thead-default">
                    <tr>
                        <th> Type </th>
                        <th> Note </th>
                        <th> Active Date </th>
                        <th> Expire Date </th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in components %}
                    <tr>
                        <td> {{ c.comptype }} </td>
                        <td> {{ c.compnote }} </td>
                        <td> {{ c.compactive | date:"m/d/y" }} </td>
                        <td> {{ c.compexpire | date:"m/d/y" }} </td>  
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>
</div>