<nav aria-label="pagination">
    <ul class="pagination pagination-sm">
    {% if projects.has_previous %}
        <li class="page-item" id="previous">
            <a class="page-link" data-id="{{ projects.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
    {% else %}
        <li class="page-item disabled" id="previous"><span class="page-link" data-id="0" >&laquo;</span></li>
    {% endif %}

    {% for i in page_range %}
        {% if projects.number == i %}
            <li class="page-item active"><span class="page-link" data-id="-1">{{ i }}</span></li>
        {% else %}
            <li class="page-item"> <a class="page-link" data-id="{{i}}"> {{ i }}</a> </li>
        {% endif %}
    {% endfor %}

    {% if projects.has_next %}
        <li class="page-item" id="next">
            <a class="page-link" data-id="{{ projects.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    {% else %}
        <li class="page-item disabled" id="next"><span class="page-link" data-id="0" >&raquo;</span></li>
    {% endif %}
    </ul>
</nav>